table, th, td {
  border: 1px solid;
	color: #000000;
	background-color:#FFFFFF;
}

body {
    background-color: #C9FEFF;
    color: #C9FEFF;
    background-image: -webkit-linear-gradient(270deg,rgba(201,254,255,1.00) 0%,rgba(201,254,255,1.00) 100%,rgba(201,254,255,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(201,254,255,1.00) 0%,rgba(201,254,255,1.00) 100%,rgba(201,254,255,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(201,254,255,1.00) 0%,rgba(201,254,255,1.00) 100%,rgba(2201,254,255,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(201,254,255,1.00) 0%,rgba(201,254,255,1.00) 100%,rgba(201,254,255,1.00) 100%);
}

#home  {
    color: #000000;
    font-family: amethysta;
    font-style: normal;
    font-weight: 400;
    text-shadow: 0px 0px #000000;
}

h3{
    color: #000000;
    font-family: amethysta;
    font-style: normal;
    font-weight: 400;
}
p {
    color: #000000;
    font-family: amethysta;
    font-style: normal;
    font-weight: 400;
    border-width: medium;
}
.container {
    background-color: #C9FEFF;
    color: #000000;
    font-family: amethysta;
    font-style: normal;
    font-weight: 400;
}
.nav-tabs {
    background: #B9D3FF;
    font-family: amethysta;
    font-style: normal;
    font-weight: 400;	
}
.a {
	background: #DCDCDC;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
